USE [master]
GO
/****** Object:  Database [Instituto]    Script Date: 10/6/2026 19:53:55 ******/
CREATE DATABASE [Instituto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InstitutoNew', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InstitutoNew.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InstitutoNew_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InstitutoNew_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Instituto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Instituto]
GO
/****** Object:  Table [dbo].[ASISTENCIAS]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIAS](
	[AsId] [int] NOT NULL,
	[AsFecha] [datetime] NOT NULL,
	[AsPresente] [bit] NULL,
	[AsJustificacion] [bit] NULL,
	[UsId] [int] NOT NULL,
	[MaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERAS]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERAS](
	[CaId] [int] NOT NULL,
	[CaDenominacion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERAS_COHORTES]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERAS_COHORTES](
	[CaCoId] [int] NOT NULL,
	[CaId] [int] NOT NULL,
	[CoId] [int] NOT NULL,
	[CaCoEstado] [bit] NOT NULL,
 CONSTRAINT [PK__CARRERAS__7FC146E322EFAC30] PRIMARY KEY CLUSTERED 
(
	[CaCoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERAS_MATERIAS]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERAS_MATERIAS](
	[CaMaId] [int] NOT NULL,
	[CaId] [int] NOT NULL,
	[MaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaMaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COHORTE]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COHORTE](
	[CoId] [int] NOT NULL,
	[CoDenominacion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCIONES]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCIONES](
	[InId] [int] NOT NULL,
	[CaMaId] [int] NOT NULL,
	[UsId] [int] NOT NULL,
 CONSTRAINT [PK_INSCRIPCIONES] PRIMARY KEY CLUSTERED 
(
	[InId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LoId] [int] NOT NULL,
	[LoUser] [int] NOT NULL,
	[LoPass] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS](
	[MaId] [int] NOT NULL,
	[MaDenominacion] [varchar](100) NOT NULL,
	[MaModalidad] [varchar](50) NULL,
	[MaCantModulos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoId] [int] NOT NULL,
	[RoDenominacion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[UsId] [int] NOT NULL,
	[UsApellido] [varchar](100) NOT NULL,
	[UsNombre] [varchar](100) NOT NULL,
	[UsDNI] [int] NOT NULL,
	[UsEmail] [varchar](50) NOT NULL,
 CONSTRAINT [PK__USUARIOS__BD21E35FB2A3FC8D] PRIMARY KEY CLUSTERED 
(
	[UsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__5CF39F5AD2478CA9] UNIQUE NONCLUSTERED 
(
	[UsDNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS_ROLES]    Script Date: 10/6/2026 19:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_ROLES](
	[UsRoId] [int] NOT NULL,
	[UsId] [int] NOT NULL,
	[RoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsRoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASISTENCIAS] ADD  DEFAULT ((0)) FOR [AsPresente]
GO
ALTER TABLE [dbo].[ASISTENCIAS] ADD  DEFAULT ((0)) FOR [AsJustificacion]
GO
ALTER TABLE [dbo].[ASISTENCIAS]  WITH CHECK ADD FOREIGN KEY([MaId])
REFERENCES [dbo].[MATERIAS] ([MaId])
GO
ALTER TABLE [dbo].[ASISTENCIAS]  WITH CHECK ADD  CONSTRAINT [FK__ASISTENCIA__UsId__4CA06362] FOREIGN KEY([UsId])
REFERENCES [dbo].[USUARIOS] ([UsId])
GO
ALTER TABLE [dbo].[ASISTENCIAS] CHECK CONSTRAINT [FK__ASISTENCIA__UsId__4CA06362]
GO
ALTER TABLE [dbo].[CARRERAS_COHORTES]  WITH CHECK ADD  CONSTRAINT [FK__CARRERAS_C__CaId__4D94879B] FOREIGN KEY([CaId])
REFERENCES [dbo].[CARRERAS] ([CaId])
GO
ALTER TABLE [dbo].[CARRERAS_COHORTES] CHECK CONSTRAINT [FK__CARRERAS_C__CaId__4D94879B]
GO
ALTER TABLE [dbo].[CARRERAS_COHORTES]  WITH CHECK ADD  CONSTRAINT [FK__CARRERAS_C__CoId__4E88ABD4] FOREIGN KEY([CoId])
REFERENCES [dbo].[COHORTE] ([CoId])
GO
ALTER TABLE [dbo].[CARRERAS_COHORTES] CHECK CONSTRAINT [FK__CARRERAS_C__CoId__4E88ABD4]
GO
ALTER TABLE [dbo].[CARRERAS_MATERIAS]  WITH CHECK ADD FOREIGN KEY([CaId])
REFERENCES [dbo].[CARRERAS] ([CaId])
GO
ALTER TABLE [dbo].[CARRERAS_MATERIAS]  WITH CHECK ADD FOREIGN KEY([MaId])
REFERENCES [dbo].[MATERIAS] ([MaId])
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK__LOGIN__LoUser__5165187F] FOREIGN KEY([LoUser])
REFERENCES [dbo].[USUARIOS] ([UsId])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK__LOGIN__LoUser__5165187F]
GO
ALTER TABLE [dbo].[USUARIOS_ROLES]  WITH CHECK ADD FOREIGN KEY([RoId])
REFERENCES [dbo].[ROLES] ([RoId])
GO
ALTER TABLE [dbo].[USUARIOS_ROLES]  WITH CHECK ADD  CONSTRAINT [FK__USUARIOS_R__UsId__534D60F1] FOREIGN KEY([UsId])
REFERENCES [dbo].[USUARIOS] ([UsId])
GO
ALTER TABLE [dbo].[USUARIOS_ROLES] CHECK CONSTRAINT [FK__USUARIOS_R__UsId__534D60F1]
GO
USE [master]
GO
